<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--PARAMETROS CONECCION CON API WMS-->
    <add key="Api_Url" value="https://a10.wms.ocs.oraclecloud.com/bata/wms/lgfapi/v10/entity/" />
    <!--<add key="Api_User" value="iacosta" />-->
    <!--<add key="Api_Pass" value="bata2023" />-->
    <add key="Api_User" value="bata_pe_adm" />
    <add key="Api_Pass" value="bP6^BUEz" />
    <!--/////////////////////////////-->
   
    <!--PARAMETROS PROCESO DE ESTADOS-->
    <add key="Sucursal" value="50001" />
    <add key="Sucursal_Sis" value="202" />
    <add key="dias_consulta_cancelados" value="30" />
    <!--/////////////////////////////-->
   
    <!--PARAMETROS ENVIO DE CORREO-->
    <add key="dia_envio_correo_lunes" value="1"/>
    <add key="dia_envio_correo_martes" value="1" />
    <add key="dia_envio_correo_miercoles" value="1" />
    <add key="dia_envio_correo_jueves" value="1" />
    <add key="dia_envio_correo_viernes" value="0" />
    <add key="dia_envio_correo_sabado" value="0" />
    <add key="dia_envio_correo_doningo" value="0" />
    <add key="dias_consulta_cancelados_email" value="30" />
    <!--/////////////////////////////-->
  
    <!--PARAMETROS CONECCION CON DBF'S Y CARPETAS DEL SIS-->
    <!--<add key="pathDbf_retail" value="n:\sistemas\almacen\$data" /> -->
    <add key="pathDbf_retail" value="d:\sistemas\almacen\$data" />
    <!--<add key="pathDbf_noretail" value="n:\sistemas\comun" /> -->
    <add key="pathDbf_noretail" value="d:\sistemas\comun" />
    <add key="pathDbf_user" value="SERVICIOS" />
    <add key="pathDbf_pass" value="servicios123" />
    <!--<add key="pathTxtFinal" value="L:\temporal\WMSAnula" />-->
    <add key="pathTxtFinal" value="D:\temporal\WMSAnula"/>
    <!--<add key="pathExeFox" value="L:\macros\VFP\" />-->
    <add key="pathExeFox" value="D:\temporal\WMSAnula\" />
    <add key="NombreExe" value="WMSISANU205.EXE" />
    <!--/////////////////////////////-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SQL_WMS" connectionString="Data Source=192.168.2.14;Initial Catalog=BDWMS; Integrated Security=False; User ID=pos_oracle; Password=Bata2018**;" providerName="System.Data.SqlClient" />
   <!-- <add name="connDbfRetail" connectionString="Provider=vfpoledb.1;Data Source=n:\sistemas\almacen\$data\;Collating Sequence=MACHINE;DELETED=True" /> -->
    <add name="connDbfRetail" connectionString="Provider=vfpoledb.1;Data Source=d:\sistemas\almacen\$data\;Collating Sequence=MACHINE;DELETED=True" />

   <!-- <add name="connDbfNoRetail" connectionString="Provider=vfpoledb.1;Data Source=n:\sistemas\comun\;Collating Sequence=MACHINE;DELETED=True" /> -->
    <add name="connDbfNoRetail" connectionString="Provider=vfpoledb.1;Data Source=d:\sistemas\comun\;Collating Sequence=MACHINE;DELETED=True" />

  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSchUseStrongCrypto=false" />
  </runtime>
</configuration>